{% extends 'chat/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<script>
setFocusOnField("input");
</script>

<p><h2>Trainieren</h2></p>

<form method="post" id="qa_form">
  {% csrf_token %}
    {% bootstrap_form qa_form %}
    {% bootstrap_button content="Fragen!" button_type="submit" %}
</form>

{% if qa_answer %}
    <p>
    {% if qa_answer == 'No or wrong API key set' %}
        <mark style="background-color: lightcoral">{{ qa_answer }}</mark>
    {% else %}
        <mark style="background-color: lightgreen">{{ qa_answer }}</mark>
    {% endif %}

    </p>
{% endif %}

{% endblock %}

