{% extends 'statements/base.html' %}

{% block content %}

<script>
setFocusOnField("id_name");
</script>

<h1>Kontoauszug Kategorien mit Suchwoertern</h1>
<ul>
{% for category in categories %}
    <li><a href="{% url 'statements:category' category.id %}">{{ category.name }}</a> <a href="{% url 'statements:category-delete' category.id %}"><i class="fas fa-times" style="color: red;"></i></a></li>
        <ul>
            {% for keyword in category.statementkeyword_set.all %}
                <li>{{ keyword.name }}</li>
            {% endfor %}
        </ul>
{% endfor %}
</ul>

<h2>Kategorie hinzufuegen</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ add_category_form }}
    <button type="submit" name="add_category" value="add_category">Add</button>
    {% if add_category_message %}<p><strong>{{ add_category_message }}</strong></p>{% endif %}
</form>

<a href="{% url 'statements:statements' %}" class="btn btn-primary">Zurück zu den Kontoauszügen</a>

{% endblock %}
