{% extends 'statements/base.html' %}

{% block content %}

<script>
setFocusOnField("id_name");
</script>

<h1>Kategorie: {{ category.name }}</h1>

<ul>
    {% for keyword in category.statementkeyword_set.all %}
        <li>{{ keyword.name }} <a href="{% url 'statements:keyword-delete' category.id keyword.id %}"><i class="fas fa-times" style="color: red;"></i></a></li>
    {% endfor %}
</ul>

<h2>Add a keyword</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ add_keyword_form.as_p }}
    <button type="submit" name="add_keyword" value="add_keyword">Add</button>
    {% if add_keyword_message %}<p><strong>{{ add_keyword_message }}</strong></p>{% endif %}
</form>

<a href="{% url 'statements:categories' %}" class="btn btn-primary">Back to Categories</a>

{% endblock %}
