<p>
    <button type="button">
    <a href="{% url 'statements:import' %}">Importieren</a>
    </button>
    <button type="button">
    <a href="{% url 'statements:categories' %}">Kategorien bearbeiten</a>
    </button>
</p>
{% if statements %}
    <table>
    {% for statement in statements %}
        <tr>
            <td>{{ statement.buchungstag }}</td>
            <td>{{ statement.betrag }}</td>
            <td><a href="{% url 'statements:statement' statement.id %}">{{ statement.buchungstext|slice:"0:50" }}</a></td>
            <td>{{ statement.category|default_if_none:"" }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Keine Auszüge in der Datenbank.</p>
{% endif %}