{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<p>
    <button type="button">
    <a href="{% url 'statements:import' %}">Importieren</a>
    </button>
    <button type="button">
    <a href="{% url 'statements:categories' %}">Kategorien bearbeiten</a>
    </button>
    <button type="button">
    <a href="{% url 'statements:graph' %}">Auswertung</a>
    </button>
</p>
<form method="post" action="{% url 'statements:start_matching' %}">
    {% csrf_token %}
    <button type="submit">Matching starten</button>
</form>
<form method="post" action="{% url 'statements:delete_matching' %}">
    {% csrf_token %}
    <button type="submit">Matchings loeschen</button>
</form>

{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='vertical' %}
{#          {% for field in filter.form %}#}
{#            <div>#}
{#              <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#              {{ field }}#}
{#            </div>#}
{#          {% endfor %}#}
        {% bootstrap_button 'filter' %}
        <a class="btn ml-auto mr-2" href={% url 'statements:statements' %} > Clear All </a>
    </form>
{% endif %}
{% render_table table 'django_tables2/bootstrap.html' %}