<!-- base.html -->
<html lang="de">
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Murkelhausen Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'murkelhausen_info:start' %}">Start</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'murkelhausen_info:show_departures' %}">Departures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'murkelhausen_info:weather' %}">Wetter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'murkelhausen_info:weather_test' %}">Wetter Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'murkelhausen_info:power' %}">Stromverbrauch</a>
      </li>
    </ul>
  </div>
    </div>
</nav>

{% load static %}
<script src="{% static 'js/form_focus.js' %}"></script>

<head>
    <title>Murkelhausen Infos</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_styles.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
