<!-- base.html -->
<html lang="de">
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Murkelhausen Info</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'murkelhausen_info:start' %}">Start</a>
                <a class="nav-link" href="{% url 'murkelhausen_info:weather' %}">Wetter</a>
                <a class="nav-link" href="{% url 'murkelhausen_info:show_departures' %}">Abfahrten</a>
                <a class="nav-link" href="{% url 'murkelhausen_info:power' %}">Stromverbrauch</a>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        {% include "pages/home.html" %}
        {% include "pages/settings.html" %}
    </div>
</nav>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/navbar-active.js' %}"></script>

<head>
    <title>Murkelhausen Infos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_styles.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
