{% extends 'murkelhausen_info/base.html' %}
{% load django_tables2 %}
{% load django_bootstrap5 %}

{% block content %}

<body>
<p><h2>VfB Speldorf Termine</h2>

<br><br>

<h3>Eriks Spiele</h3>

<h4>F1 Junioren</h4>

<p>
    <a href="https://www.fussball.de/mannschaft/vfb-speldorf-vfb-speldorf-niederrhein/-/saison/2425/team-id/011MI9USJ8000000VTVG0001VTR8C1K7#!/">VfB Speldorf F1 Junioren</a>
</p>


{% render_table erik_f1_junioren_games_table %}

<br><br>

<h4>F3 Junioren</h4>

<p>
    <a href="https://www.fussball.de/mannschaft/vfb-speldorf-iii-vfb-speldorf-niederrhein/-/saison/2425/team-id/02QRA8CDA4000000VS5489B2VUEKSRPC#!/">VfB Speldorf F3 Junioren</a>
</p>


{% render_table erik_f3_junioren_games_table %}

<br><br>

<h3>Alle Speldorf Heimspiele</h3>

<p>
    <a href="https://www.fussball.de/verein/vfb-speldorf-niederrhein/-/id/00ES8GN8VS000030VV0AG08LVUPGND5I#!/">VfB Speldorf</a>
</p>
{% render_table speldorf_games_table %}

</body>

{% endblock %}