{% extends 'murkelhausen_info/base.html' %}
{% load datetags %}
{% load static %}

{% block content %}
<script src="https://code.highcharts.com/11.2.0/highcharts.js"></script>
<script src="https://code.highcharts.com/11.2.0/modules/stock.js"></script>

<div id="container_garmin_daily_body_battery" style="width:100%; height:600px;"></div>
<script>
    let chart_garmin_daily_body_battery;
    document.addEventListener('DOMContentLoaded', function () {
        chart_garmin_daily_body_battery = Highcharts.stockChart('container_garmin_daily_body_battery', {
            rangeSelector: {
                enabled: false
            },
            legend: {
                enabled: true
            },
            yAxis: {
                title: {text: 'Body Battery'},
                opposite: false
            },
            series: [{
                name: 'charged',
                data: [{% for day in data %}[
                    {{ day.calendar_date|js_date }},{{ day.charged }}], {% endfor %}],
                type: 'spline',
            }, {
                name: 'drained',
                data: [{% for day in data %}[
                    {{ day.calendar_date|js_date }},{{ day.drained }}], {% endfor %}],
                type: 'spline',
            }
            ],
        });
    });
</script>

{% endblock %}
