{#{% load static %}#}
{#<canvas id="power_foo" width="800" height="400"></canvas>#}
{#  <script src="{% static 'js/chartjs/dist/chart.umd.js' %}"></script>#}
{#  <script>#}
{#  const ctx_long_term = document.getElementById('long_term').getContext('2d');#}
{#  const chart_long_term = new Chart(ctx_long_term, {#}
{#      type: 'line',#}
{#      data: {#}
{#          labels: [{% for day in weather_data.daily %}"{{ day.day }}",{% endfor %}],#}
{#          datasets: [#}
{#              {#}
{#                  label: "Erwarteter Regen",#}
{#                  data: [{% for day in weather_data.daily %}{{ day.rain }}, {% endfor %}],#}
{#                  backgroundColor: 'rgba(75, 192, 192, 0.5)',#}
{#                  borderColor: 'rgba(75, 192, 192, 1)',#}
{#                  borderWidth: 1,#}
{#                  type: 'bar',#}
{#                  yAxisID: 'y2',#}
{#                  order: 0,#}
{#              },#}
{#              {#}
{#                  label: "Temperatur Minimum",#}
{#                  data: [{% for day in weather_data.daily %}{{ day.temp_min }}, {% endfor %}],#}
{#                  borderColor: 'rgba(255, 99, 132, 0.9)',#}
{#                  type: 'line',#}
{#                  yAxisID: 'y1',#}
{#                  order: 1,#}
{#                  cubicInterpolationMode: 'monotone',#}
{#                  pointStyle: false,#}
{#                  backgroundColor: 'rgba(255, 99, 132, 0.5)',#}
{#                  fill: 1,#}
{#              },#}
{#              {#}
{#                  label: "Temperatur Maximum",#}
{#                  data: [{% for day in weather_data.daily %}{{ day.temp_max }}, {% endfor %}],#}
{#                  borderColor: 'rgba(255, 99, 132, 0.9)',#}
{#                  type: 'line',#}
{#                  yAxisID: 'y1',#}
{#                  cubicInterpolationMode: 'monotone',#}
{#                  pointStyle: false,#}
{#                  order: 1,#}
{#                  fill: '-1',#}
{#              }#}
{#          ]#}
{#      },#}
{#      options: {#}
{#          responsive: true,#}
{#          plugins: {#}
{#              legend: {#}
{#                  position: 'bottom',#}
{#              },#}
{#              title: {#}
{#                  display: true,#}
{#                  text: 'Vorhersage für die nächsten 7 Tage'#}
{#              },#}
{#              filler: {#}
{#                  propagate: true#}
{#              },#}
{#              'samples-filler-analyser': {#}
{#                  target: 'chart-analyser'#}
{#              }#}
{#          },#}
{#          scales: {#}
{#              y1: {#}
{#                  beginAtZero: true,#}
{#                  position: 'left',#}
{#                  title: {#}
{#                      display: true,#}
{#                      text: 'Temperatur in °C'#}
{#                  },#}
{#              },#}
{#              y2: {#}
{#                  beginAtZero: true,#}
{#                  position: 'right',#}
{#                  // grid line settings#}
{#                  grid: {#}
{#                      drawOnChartArea: false, // only want the grid lines for one axis to show up#}
{#                  },#}
{#                  title: {#}
{#                      display: true,#}
{#                      text: 'Regen in mm/h'#}
{#                  },#}
{#              }#}
{#          }#}
{#      }#}
{#  });#}
{#  </script>#}