{% extends 'murkelhausen_info/base.html' %}
{% load django_tables2 %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}


<p><h2>Wetter in Mülheim</h2>
<body>

{% for weather_state in weather_data.current.weather %}
    <p><img src="{% static 'icons/'|add:weather_state.icon|add:'.png' %}">{{ weather_state.description }}</p>
{% endfor %}
{% render_table weather_table %}

<p><ul>
{% for alert in weather_data.alerts %}
    <li>{{ alert.event }} von {{ alert.start_timestamp }} bis {{ alert.end_timestamp }}</li>
{% endfor %}
</ul>

<p><ul>
{% for day in weather_data.daily %}
    <li>{{ day.day }}: {{ day.temp }}</li>
{% endfor %}
</ul>

</body>

{% endblock %}