{% load weathertags %}

<div id="container_weather_short_term" style="width:100%; height:600px;"></div>
<script>
    let chart_weather_short_term; // globally available
    document.addEventListener('DOMContentLoaded', function () {
        chart_power_complete = Highcharts.chart('container_weather_short_term', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Regen-Vorhersage für die nächsten 60 Minuten',
            },
            legend: {
                enabled: false
            },
            xAxis: {
                type: 'category',
                labels: {
                    step: 5
                }
            },
            yAxis: {
                title: {text: 'Erwarteter Regen in mm/h'},
                opposite: false,
                min: 0,
                max: {{ weather_data.max_rain_minutely }},
            },
            series: [{
                name: 'Erwarteter Regen in mm/h',
                colors: [{% for minute in weather_data.minutely %}"{{ minute.rain|rain_color }}",{% endfor %}],
                colorByPoint: true,
                data: [{% for minute in weather_data.minutely %}["{{ minute.time }}",{{ minute.rain }}], {% endfor %}],
                tooltip: {
                    valueDecimals: 1,
                },
            }
            ],
        });
    });
</script>