{% extends 'trainer/base.html' %}

{% block content %}

<h2>Vokabel hinzufügen</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p><i>{{ message }}</i></p>
    {% endfor %}
</ul>
{% endif %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

<p>
    <button type="button">
    <a href="{% url 'trainer:start' %}">Zurück zum Start</a>
    </button>
    <button type="button">
    <a href="{% url 'trainer:list' %}">Zur Vokabel Liste</a>
    </button>
</p>

{% endblock %}
