{% extends 'trainer/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<script>
setFocusOnField("answer");
</script>

<body>
<h1>Trainieren</h1>
</body>


{% if answer %}
    Deine Antwort "<i>{{ answer.actual }}</i>" auf "<i>{{ answer.asked }}</i>" war
    {% if answer.correct %} richtig{% else %} falsch{% endif %}.
    <br>
    {% if not answer.correct %}
        Die richtige Antwort lautet "<i>{{ answer.expected }}</i>".
    {% endif %}
{% endif %}


<form method="post">
  {% csrf_token %}
    <p>deutsch: {{ vokabel.deutsch }}</p>
    <input type="text" name="vokabel_id" value="{{ vokabel.id }}" hidden>
    <p>englisch: <input type="text" name="answer" id="answer"></p>

    {% bootstrap_button content="Prüfen" name="submit" button_type="submit" %}
    {% bootstrap_button content="Neue Runde starten" name="reset" button_type="submit" %}
</form>

<p>
Anzahl richtig: {{ train_session.correct }}<br>
Anzahl falsch: {{ train_session.wrong }}<br>
Anteil richtig: {{ train_session.correct_percentage|floatformat:1 }}
</p>

{% endblock %}