{% extends 'trainer/base.html' %}

{% block content %}

<script>
setFocusOnField("answer");
</script>

{% if given_answer %}
    Deine Antwort <i>{{ given_answer }}</i> auf <i>{{ correct_answer }}</i> war
    {% if answered_correctly %} richtig{% else %} falsch{% endif %}.

{#    {% if request.session.correctly %}#}
{#        <p>#}
{#            <button type="button">#}
{#            <a href="{% url 'trainer:next' %}">Nächste Vokabel</a>#}
{#            </button>#}
{#        </p>#}
{#    {% endif %}#}
{##}
{#    {% if not request.session.correctly %}#}
{#        <p>#}
{#            <button type="button">#}
{#            <a href="{% url 'trainer:repeat' %}">Nochmal</a>#}
{#            </button>#}
{#        </p>#}
{#    {% endif %}#}
{% endif %}


<form method="post">
  {% csrf_token %}
    <p>deutsch: {{ vokabel.deutsch }}</p>
    <input type="text" name="vokabel_id" value="{{ vokabel.id }}" hidden>
    <p>englisch: <input type="text" name="answer" id="answer"></p>
    <input type="submit" value="Submit">
</form>

<p>
    <button type="button">
    <a href="{% url 'trainer:start' %}">Zurück zum Start</a>
    </button>
</p>

{% endblock %}