{% extends 'trainer/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<script>
setFocusOnField("id_englisch");
</script>

<body>
<h2>Trainieren</h2>
</body>

<form method="post" id="group_select_form">
  {% csrf_token %}
    {% bootstrap_form group_select_form %}
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Use jQuery to submit the form when the choice field changes
    $(document).ready(function () {
        $('#id_group').change(function () {
            $('#group_select_form').submit();
        });
    });
</script>


<h5>Wie heisst die folgende Vokabel auf Englisch?</h5>

<form method="post">
  {% csrf_token %}
    {% bootstrap_form train_form layout='vertical' %}
    {% bootstrap_button content="Prüfen" name="submit" button_type="submit" %}
</form>

{% if answer %}
    <p>
    Deine Antwort <mark style="background-color: lightblue">{{ answer.actual }}</mark> auf die
    Vokabel <mark style="background-color: lightblue">{{ answer.asked }}</mark> war
    {% if answer.correct %} <mark style="background-color: lightgreen">richtig</mark>{% else %} <mark style="background-color: lightcoral">falsch</mark> {% endif %}.
    </p>
    {% if not answer.correct %}
        {# TODO add char by char comparison between correct and false answer. #}
        <p>Die richtige Antwort lautet <mark style="background-color: lightblue">{{ answer.expected }}</mark>.</p>
    {% endif %}
{% endif %}

<h4>Statistik</h4>
<p>
    <table class="table table-striped" style="width: max-content; text-align: right"><tbody>
<tr>
    <td>Anzahl richtig</td><td>{{ train_session.correct }}</td>
</tr>
<tr>
    <td>Anzahl falsch</td><td>{{ train_session.wrong }}</td>
</tr>
<tr>
    <td>Anteil richtig</td><td>{{ train_session.correct_percentage|floatformat:1 }} %</td>
</tr>
</tbody></table>

<form method="post">
  {% csrf_token %}
{% bootstrap_button content="Neue Runde starten" name="reset" button_type="submit" button_class="btn btn-secondary" style="align: right" %}
</form>


{% endblock %}

