{% extends 'trainer/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<h2>Vokabel aktualisieren</h2>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button content="Speichern" button_type="submit" %}
    <a class="btn btn-secondary" href="{% url 'trainer:list' %}">Abbruch</a>
    <a class="btn btn-danger" href="{% url 'trainer:delete' vokabel.id %}">Löschen</a>
</form>

<table class="table table-striped" style="width: max-content; text-align: right"><tbody>
<tr>
    <td>Erstellt</td><td>{{ vokabel.created }}</td>
</tr><tr>
    <td>Zuletzt geändert</td><td>{{ vokabel.updated }}</td>
</tr><tr>
    <td>Anzahl der Antworten</td><td>{{ vokabel.total }}</td>
</tr><tr>
    <td>Richtige Antworten</td><td>{{ vokabel.count_correct }}</td>
</tr><tr>
    <td>Falsche Antworten</td><td>{{ vokabel.count_wrong }}</td>
</tr><tr>
    <td>% richtig</td><td>{{ vokabel.correct_percentage|floatformat:0 }}</td>
</tr><tr>
    <td>% richtig (letzte {{ trainer_last_n }})</td><td>{{ vokabel.correct_percentage_last|floatformat:0 }}</td>
</tr><tr>
</tbody></table>

{% endblock %}
