{% extends 'trainer/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<script>
setFocusOnField("id_deutsch");
</script>

<p><h2>Vokabel hinzufügen</h2></p>

<form method="post">{% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button content="Speichern" button_type="submit" %}
</form>

{% if last_added_vokabel %}
<h5>Letzte Vokabel</h5>
<table class="table table-striped" style="width: max-content; text-align: center">
    <tr><td>Deutsch</td><td>Englisch</td></tr>
    <tr><td>{{ last_added_vokabel.deutsch }}</td><td>{{ last_added_vokabel.englisch }}</td></tr>
</table>
<a class="btn btn-secondary" href="{% url 'trainer:update' last_added_vokabel.id %}">Ändern</a>
<a class="btn btn-secondary" href="{% url 'trainer:delete' last_added_vokabel.id %}">Löschen</a>
{% endif %}

{% endblock %}
