{% extends 'trainer/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<h2>Vokabel aktualisieren</h2>

<p>
    Erstellt: {{ vokabel.created }}
    Zuletzt geändert: {{ vokabel.updated }}
</p>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button content="Speichern" button_type="submit" %}
    <a class="btn btn-secondary" href="{% url 'trainer:list' %}">Abbruch</a>
    <a class="btn btn-danger" href="{% url 'trainer:delete' vokabel.id %}">Löschen</a>
</form>

{% endblock %}
