<!-- base.html -->
<html lang="de">
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Murkelhausen Home {{ version }}</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'murkelhausen_info:weather' %}">Murkelhausen Info</a>
                <a class="nav-link" href="{% url 'trainer:start' %}">Vokabel Trainer</a>
                <a class="nav-link" href="{% url 'chat:start' %}">Chat</a>
            </div>
        </div>
    </div>
</nav>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/navbar-active.js' %}"></script>
